html

  head

    title Art?


    link(rel='stylesheet',type='text/css' href='/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet')  
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    script(src='/selector.js')
      
  body
    h1#title Guess The Artist...
   
    div
    section#photos
      each val in paintings
        .painting
          .painting-title= val.title
          img.painting-pic(style='padding-top:20px;')(src=val.imageURL,alt=val.title,title=val.title) 
          

      
          
  
